# Milestone 5

## Lincoln Brown

## DSC540

## Professor Williams

In [1]:
import sqlite3 
import pandas as pd
from datetime import datetime

In [2]:
# Import Datasets
chicago_crime_df = pd.read_csv("clean_chicago_crime.csv")
moon_phases_df = pd.read_csv("moon_phases.csv")
weather_df = pd.read_csv("weather_data.csv", index_col=0)

In [36]:
chicago_crime_df

,Unnamed: 0,Case#,Date_Of_Occurrence,Block,IUCR,Primary_Description,Secondary_Description,Location_Description,Arrest,Domestic,Beat,Ward,Fbi_Cd,Latitude,Longitude,Location,Date,Time
0,102,JG406115,2023-08-31 19:00:00,042XX W MARQUETTE RD,0498,BATTERY,"AGG. DOMESTIC BATTERY - HANDS, FISTS, FEET, SE...",APARTMENT,Y,Y,833,23.0,04B,41.771296,-87.729149,"(41.771296232, -87.729149311)",2023-08-31,19:00:00
1,109,JG405111,2023-08-31 10:52:00,004XX W 38TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,N,Y,915,11.0,08B,41.825400,-87.637027,"(41.82539977, -87.637026874)",2023-08-31,10:52:00
2,174,JF254640,2022-12-08 15:38:00,004XX N LOWER WABASH AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,Y,N,1834,42.0,01A,41.888994,-87.626935,"(41.888993854, -87.626934833)",2022-12-08,15:38:00
3,186,JG412467,2023-08-31 21:13:00,093XX S WABASH AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,N,N,634,6.0,07,41.724654,-87.622283,"(41.724654303, -87.622283278)",2023-08-31,21:13:00
4,286,JF446619,2022-10-24 01:42:00,032XX W 30TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,N,N,1032,22.0,01A,41.839025,-87.706538,"(41.839024755, -87.706538219)",2022-10-24,01:42:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253046,256924,JG364916,2023-07-31 00:00:00,064XX S RHODES AVE,0497,BATTERY,AGGRAVATED DOMESTIC BATTERY - OTHER DANGEROUS ...,RESIDENCE,N,Y,312,20.0,04B,41.777700,-87.611960,"(41.777700447, -87.611960085)",2023-07-31,00:00:00
253047,256925,JG149582,2023-01-28 23:31:00,038XX W 59TH ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,N,N,822,23.0,11,41.785997,-87.719196,"(41.785996793, -87.719195501)",2023-01-28,23:31:00
253048,256926,JG305358,2023-06-18 01:05:00,012XX N STATE PKWY,0496,BATTERY,AGGRAVATED DOMESTIC BATTERY - KNIFE / CUTTING ...,APARTMENT,Y,Y,1824,2.0,04B,41.904323,-87.628691,"(41.904322962, -87.628690783)",2023-06-18,01:05:00
253049,256927,JF529073,2022-12-31 16:00:00,024XX E 79TH ST,0560,ASSAULT,SIMPLE,RESTAURANT,N,N,422,7.0,08A,41.751740,-87.565408,"(41.751739567, -87.565407903)",2022-12-31,16:00:00
253050,256928,JG317689,2023-06-27 05:02:00,030XX N LAKEWOOD AVE,0810,THEFT,OVER $500,STREET,N,N,1933,32.0,06,41.936453,-87.661239,"(41.936452633, -87.661238666)",2023-06-27,05:02:00

In [4]:
moon_phases_df

,Eclipse_Type,Timestamp.1,Moon_Type,Sun_Dist,Sun_Size,Moon_Dist,Geo,Zenith,Moon_Mag
Timestamp,,,,,,,,,
2022-01-01 23:01:12+00:00,None,2022-01-01 23:01:12+00:00,Perigee,"147,106,253 km(-1.7%)",0.542°(+1.7%),"358,033 km(-6.4%)",0.556°(+6.6%),0.566°(+6.7%),-13.14(+17.2%)
2022-01-02 18:33:30+00:00,None,2022-01-02 18:33:30+00:00,New Moon,"147,105,420 km(-1.7%)",0.542°(+1.7%),"358,676 km(-6.3%)",0.555°(+6.4%),0.565°(+6.5%),-13.14(+16.7%)
2022-01-14 09:28:37+00:00,None,2022-01-14 09:28:37+00:00,Apogee,"147,139,169 km(-1.7%)",0.542°(+1.7%),"405,805 km(+6.1%)",0.491°(-6.0%),0.498°(-6.1%),-12.87(-8.8%)
2022-01-17 23:48:35+00:00,None,2022-01-17 23:48:35+00:00,Full Moon,"147,171,686 km(-1.6%)",0.542°(+1.7%),"401,023 km(+4.8%)",0.496°(-4.8%),0.504°(-4.9%),-12.89(-6.7%)
2022-01-30 07:10:17+00:00,None,2022-01-30 07:10:17+00:00,Perigee,"147,366,481 km(-1.5%)",0.541°(+1.5%),"362,252 km(-5.3%)",0.549°(+5.3%),0.559°(+5.4%),-13.11(+14.0%)
...,...,...,...,...,...,...,...,...,...
2023-11-27 09:16:13+00:00,None,2023-11-27 09:16:13+00:00,Full Moon,"147,622,520 km(-1.3%)",0.540°(+1.3%),"380,478 km(-0.6%)",0.523°(+0.3%),0.532°(+0.3%),-13.00(+3.0%)
2023-12-04 18:43:43+00:00,None,2023-12-04 18:43:43+00:00,Apogee,"147,445,833 km(-1.5%)",0.541°(+1.5%),"404,347 km(+5.7%)",0.492°(-5.6%),0.500°(-5.7%),-12.87(-8.6%)
2023-12-12 23:31:55+00:00,None,2023-12-12 23:31:55+00:00,New Moon,"147,292,020 km(-1.6%)",0.541°(+1.6%),"375,147 km(-2.0%)",0.531°(+1.7%),0.540°(+1.7%),-13.04(+6.4%)
2023-12-16 18:54:11+00:00,None,2023-12-16 18:54:11+00:00,Perigee,"147,232,535 km(-1.6%)",0.542°(+1.6%),"367,901 km(-3.9%)",0.541°(+3.7%),0.550°(+3.8%),-13.08(+10.8%)
2023-12-27 00:33:08+00:00,None,2023-12-27 00:33:08+00:00,Full Moon,"147,121,936 km(-1.7%)",0.542°(+1.7%),"391,764 km(+2.4%)",0.508°(-2.6%),0.516°(-2.6%),-12.95(-2.2%)

In [3]:
weather_df

,datetime,tempmax_F,tempmin_F,feelslike_F,humidity,conditions,cloudcover,description,visibility,windspeed_mph,...,preciptype,precip_in,snowdepth_in,moonphase,daylight_hours,solarradiation,precipprob,winddir,sunrise,sunset
0,2022-10-01,71.36,55.52,63.44,65.7,Clear,13.8,Clear conditions throughout the day.,15.9,16.155651,...,NaN,0.000000,NaN,Waxing Crescent,0 days 11:44:41,67.8,0.0,19.2,2022-10-01 06:47:29,2022-10-01 18:32:10
1,2022-10-02,69.74,59.66,63.62,69.7,Partially cloudy,36.3,Partly cloudy throughout the day.,16.0,15.161457,...,NaN,0.000000,NaN,First Quarter,0 days 11:41:54,27.6,0.0,35.7,2022-10-02 06:48:33,2022-10-02 18:30:27
2,2022-10-03,70.82,51.74,61.28,57.9,Clear,12.4,Clear conditions throughout the day.,16.0,8.637060,...,NaN,0.000000,NaN,First Quarter,0 days 11:39:07,61.5,0.0,73.3,2022-10-03 06:49:38,2022-10-03 18:28:45
3,2022-10-04,77.30,49.76,62.90,55.5,Partially cloudy,29.4,Partly cloudy throughout the day.,16.0,7.145769,...,NaN,0.000000,NaN,First Quarter,0 days 11:36:20,40.3,0.0,201.1,2022-10-04 06:50:43,2022-10-04 18:27:03
4,2022-10-05,79.46,53.72,67.04,43.2,Partially cloudy,73.7,Partly cloudy throughout the day.,15.9,9.569116,...,NaN,0.000000,NaN,First Quarter,0 days 11:33:34,64.0,0.0,227.1,2022-10-05 06:51:48,2022-10-05 18:25:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2023-09-26,76.04,67.58,70.82,81.3,"Rain, Partially cloudy",86.6,Partly cloudy throughout the day with rain.,15.3,15.037183,...,['rain'],0.318110,NaN,Waxing Gibbous,0 days 11:59:19,18.5,100.0,108.5,2023-09-26 06:41:55,2023-09-26 18:41:14
391,2023-09-27,72.62,67.04,69.38,83.4,"Rain, Overcast",96.8,Cloudy skies throughout the day with rain.,14.0,13.110932,...,['rain'],0.175315,NaN,Waxing Gibbous,0 days 11:56:31,28.2,100.0,105.0,2023-09-27 06:42:59,2023-09-27 18:39:30
392,2023-09-28,71.90,67.04,69.20,79.9,"Rain, Partially cloudy",87.2,Partly cloudy throughout the day with rain in ...,15.9,10.066213,...,['rain'],0.003858,NaN,Waxing Gibbous,0 days 11:53:44,33.1,100.0,53.1,2023-09-28 06:44:02,2023-09-28 18:37:46
393,2023-09-29,77.12,61.64,69.02,79.3,Partially cloudy,54.7,Partly cloudy throughout the day.,12.5,10.128350,...,NaN,0.000000,NaN,Full Moon,0 days 11:50:56,42.1,0.0,116.3,2023-09-29 06:45:06,2023-09-29 18:36:02
394,2023-09-30,86.12,63.62,73.88,69.2,Clear,12.9,Clear conditions throughout the day.,15.7,9.631253,...,NaN,0.000000,NaN,Full Moon,0 days 11:48:09,63.4,0.0,142.5,2023-09-30 06:46:10,2023-09-30 18:34:19

## Load the dataframes into SQLite database

In [6]:
# Create a function to check the status of the database connection
def check_connection(conn):
    try:
        conn.cursor()
        print("Connection Sucessful")
    except Exception as e:
        print("Connection Failed")

In [7]:
# Connect to the database and verify it is connected 
database_file = "DSC540_Project.db"
with sqlite3.connect(database_file) as conn:
    cursor = conn.cursor()
    check_connection(conn)

Connection Sucessful

In [6]:
def dataframe_reindexing(dataframe):
    # Create id column from index
    dataframe = pd.concat([pd.Series(dataframe.index, index=dataframe.index, name='id'), dataframe], axis=1) 
    return dataframe

In [36]:
# Create build_table SQL query string
def build_table(dataframe, table_name):
    # Build query specifically in this function
    dataframe_cols = dataframe.columns
    print(dataframe_cols)
    build_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} (\n"
    for index, col in enumerate(dataframe_cols):
        last_item = len(dataframe_cols) -1
        if col.lower() == 'id':
            build_table_query += f"\tid integer PRIMARY KEY,\n"
        elif index < last_item:
            build_table_query += f"\t{col.lower()} text,\n"
        else:
            build_table_query += f"\t{col.lower()} text\n);"
    return build_table_query

In [64]:
chicago_crime_df['id'] = chicago_crime_df.index
del chicago_crime_df['Unnamed: 0']

TypeError: 'RangeIndex' object is not callable

In [37]:
test_weather = dataframe_reindexing(weather_df)

test_query = build_table(test_weather, 'weather')
print(test_query)

Index(['id', 'datetime', 'tempmax_F', 'tempmin_F', 'feelslike_F', 'humidity',
       'conditions', 'cloudcover', 'description', 'visibility',
       'windspeed_mph', 'windgust_mph', 'windspeedmax_mph',
       'windspeedmean_mph', 'preciptype', 'precip_in', 'snowdepth_in',
       'moonphase', 'daylight_hours', 'solarradiation', 'precipprob',
       'winddir', 'sunrise', 'sunset'],
      dtype='object')
CREATE TABLE IF NOT EXISTS weather (
	id integer PRIMARY KEY,
	datetime text,
	tempmax_f text,
	tempmin_f text,
	feelslike_f text,
	humidity text,
	conditions text,
	cloudcover text,
	description text,
	visibility text,
	windspeed_mph text,
	windgust_mph text,
	windspeedmax_mph text,
	windspeedmean_mph text,
	preciptype text,
	precip_in text,
	snowdepth_in text,
	moonphase text,
	daylight_hours text,
	solarradiation text,
	precipprob text,
	winddir text,
	sunrise text,
	sunset text
);

In [15]:
weather_df

,datetime,tempmax_F,tempmin_F,feelslike_F,humidity,conditions,cloudcover,description,visibility,windspeed_mph,...,preciptype,precip_in,snowdepth_in,moonphase,daylight_hours,solarradiation,precipprob,winddir,sunrise,sunset
0,2022-10-01,71.36,55.52,63.44,65.7,Clear,13.8,Clear conditions throughout the day.,15.9,16.155651,...,NaN,0.000000,NaN,Waxing Crescent,0 days 11:44:41,67.8,0.0,19.2,2022-10-01 06:47:29,2022-10-01 18:32:10
1,2022-10-02,69.74,59.66,63.62,69.7,Partially cloudy,36.3,Partly cloudy throughout the day.,16.0,15.161457,...,NaN,0.000000,NaN,First Quarter,0 days 11:41:54,27.6,0.0,35.7,2022-10-02 06:48:33,2022-10-02 18:30:27
2,2022-10-03,70.82,51.74,61.28,57.9,Clear,12.4,Clear conditions throughout the day.,16.0,8.637060,...,NaN,0.000000,NaN,First Quarter,0 days 11:39:07,61.5,0.0,73.3,2022-10-03 06:49:38,2022-10-03 18:28:45
3,2022-10-04,77.30,49.76,62.90,55.5,Partially cloudy,29.4,Partly cloudy throughout the day.,16.0,7.145769,...,NaN,0.000000,NaN,First Quarter,0 days 11:36:20,40.3,0.0,201.1,2022-10-04 06:50:43,2022-10-04 18:27:03
4,2022-10-05,79.46,53.72,67.04,43.2,Partially cloudy,73.7,Partly cloudy throughout the day.,15.9,9.569116,...,NaN,0.000000,NaN,First Quarter,0 days 11:33:34,64.0,0.0,227.1,2022-10-05 06:51:48,2022-10-05 18:25:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2023-09-26,76.04,67.58,70.82,81.3,"Rain, Partially cloudy",86.6,Partly cloudy throughout the day with rain.,15.3,15.037183,...,['rain'],0.318110,NaN,Waxing Gibbous,0 days 11:59:19,18.5,100.0,108.5,2023-09-26 06:41:55,2023-09-26 18:41:14
391,2023-09-27,72.62,67.04,69.38,83.4,"Rain, Overcast",96.8,Cloudy skies throughout the day with rain.,14.0,13.110932,...,['rain'],0.175315,NaN,Waxing Gibbous,0 days 11:56:31,28.2,100.0,105.0,2023-09-27 06:42:59,2023-09-27 18:39:30
392,2023-09-28,71.90,67.04,69.20,79.9,"Rain, Partially cloudy",87.2,Partly cloudy throughout the day with rain in ...,15.9,10.066213,...,['rain'],0.003858,NaN,Waxing Gibbous,0 days 11:53:44,33.1,100.0,53.1,2023-09-28 06:44:02,2023-09-28 18:37:46
393,2023-09-29,77.12,61.64,69.02,79.3,Partially cloudy,54.7,Partly cloudy throughout the day.,12.5,10.128350,...,NaN,0.000000,NaN,Full Moon,0 days 11:50:56,42.1,0.0,116.3,2023-09-29 06:45:06,2023-09-29 18:36:02
394,2023-09-30,86.12,63.62,73.88,69.2,Clear,12.9,Clear conditions throughout the day.,15.7,9.631253,...,NaN,0.000000,NaN,Full Moon,0 days 11:48:09,63.4,0.0,142.5,2023-09-30 06:46:10,2023-09-30 18:34:19

## Chicago Crime Dataset

In [12]:
# Drop table if it exists
cursor.execute("DROP TABLE IF EXISTS chicago_crime")
conn.commit()

In [11]:
# Confirm there are no tables
tables = cursor.execute("SELECT * FROM sqlite_master WHERE TYPE='table'")
for table in tables:
    print(table)

In [27]:
# Rename unnamed column to id to use for primary key
del chicago_crime_df['Unnamed: 0']
chicago_crime_df['id'] = chicago_crime_df.index
chicago_crime_df.rename(columns = {'Case#': 'case_num'}, inplace=True)
# Create a dictionary to hold the value places in the upcoming sql query
crime_cols = chicago_crime_df.columns
crime_dict = {}
for col in crime_cols:
    crime_dict[col.lower()] = '?'

In [28]:
# Create the sql query to build the chicago_crime table
build_crime_table = "CREATE TABLE IF NOT EXISTS chicago_crime (\n"
for index, col in enumerate(crime_cols):
    last_item = len(crime_cols) -1
    if col == 'id':
        build_crime_table += f"\tid integer PRIMARY KEY,\n"
    elif index < last_item:
        build_crime_table += f"\t{col.lower()} text,\n"
    else:
        build_crime_table += f"\t{col.lower()} text\n);"

print(build_crime_table)

CREATE TABLE IF NOT EXISTS chicago_crime (
	case_num text,
	date_of_occurrence text,
	block text,
	iucr text,
	primary_description text,
	secondary_description text,
	location_description text,
	arrest text,
	domestic text,
	beat text,
	ward text,
	fbi_cd text,
	latitude text,
	longitude text,
	location text,
	date text,
	time text,
	id integer PRIMARY KEY,

In [18]:
# Create a dictionary of the columns and str type for conversion
# Create new dataframe that will be used to create the SQL table
convert_dict = {}
for col in chicago_crime_df.columns:
    convert_dict[col] = str
sql_crime_df = chicago_crime_df.astype(convert_dict)
sql_crime_df.dtypes

id                       object
case_num                 object
Date_Of_Occurrence       object
Block                    object
IUCR                     object
Primary_Description      object
Secondary_Description    object
Location_Description     object
Arrest                   object
Domestic                 object
Beat                     object
Ward                     object
Fbi_Cd                   object
Latitude                 object
Longitude                object
Location                 object
Date                     object
Time                     object
dtype: object

In [19]:
# Confirm the dataframe looks correct
sql_crime_df

,id,case_num,Date_Of_Occurrence,Block,IUCR,Primary_Description,Secondary_Description,Location_Description,Arrest,Domestic,Beat,Ward,Fbi_Cd,Latitude,Longitude,Location,Date,Time
0,102,JG406115,2023-08-31 19:00:00,042XX W MARQUETTE RD,0498,BATTERY,"AGG. DOMESTIC BATTERY - HANDS, FISTS, FEET, SE...",APARTMENT,Y,Y,833,23.0,04B,41.771296232,-87.729149311,"(41.771296232, -87.729149311)",2023-08-31,19:00:00
1,109,JG405111,2023-08-31 10:52:00,004XX W 38TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,N,Y,915,11.0,08B,41.82539977,-87.637026874,"(41.82539977, -87.637026874)",2023-08-31,10:52:00
2,174,JF254640,2022-12-08 15:38:00,004XX N LOWER WABASH AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,Y,N,1834,42.0,01A,41.888993854,-87.62693483299999,"(41.888993854, -87.626934833)",2022-12-08,15:38:00
3,186,JG412467,2023-08-31 21:13:00,093XX S WABASH AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,N,N,634,6.0,07,41.724654303,-87.622283278,"(41.724654303, -87.622283278)",2023-08-31,21:13:00
4,286,JF446619,2022-10-24 01:42:00,032XX W 30TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,N,N,1032,22.0,01A,41.839024755,-87.706538219,"(41.839024755, -87.706538219)",2022-10-24,01:42:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253046,256924,JG364916,2023-07-31 00:00:00,064XX S RHODES AVE,0497,BATTERY,AGGRAVATED DOMESTIC BATTERY - OTHER DANGEROUS ...,RESIDENCE,N,Y,312,20.0,04B,41.777700447,-87.611960085,"(41.777700447, -87.611960085)",2023-07-31,00:00:00
253047,256925,JG149582,2023-01-28 23:31:00,038XX W 59TH ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,N,N,822,23.0,11,41.785996793,-87.719195501,"(41.785996793, -87.719195501)",2023-01-28,23:31:00
253048,256926,JG305358,2023-06-18 01:05:00,012XX N STATE PKWY,0496,BATTERY,AGGRAVATED DOMESTIC BATTERY - KNIFE / CUTTING ...,APARTMENT,Y,Y,1824,2.0,04B,41.904322961999995,-87.628690783,"(41.904322962, -87.628690783)",2023-06-18,01:05:00
253049,256927,JF529073,2022-12-31 16:00:00,024XX E 79TH ST,0560,ASSAULT,SIMPLE,RESTAURANT,N,N,422,7.0,08A,41.751739567,-87.565407903,"(41.751739567, -87.565407903)",2022-12-31,16:00:00
253050,256928,JG317689,2023-06-27 05:02:00,030XX N LAKEWOOD AVE,0810,THEFT,OVER $500,STREET,N,N,1933,32.0,06,41.936452633,-87.661238666,"(41.936452633, -87.661238666)",2023-06-27,05:02:00

In [20]:
# Create the table and commit the changes
cursor.execute(build_crime_table)
conn.commit()

In [22]:
# Insert the sql_crime_df dataframe onto the table
insert_crime_query = f"INSERT OR REPLACE INTO chicago_crime ({', '.join(map(str,crime_dict.keys()))}) values ({', '.join(map(str,crime_dict.values()))})"  
print(insert_crime_query)
cursor.executemany(insert_crime_query, sql_crime_df.to_records(index=False))
conn.commit()

INSERT OR REPLACE INTO chicago_crime (id, case_num, date_of_occurrence, block, iucr, primary_description, secondary_description, location_description, arrest, domestic, beat, ward, fbi_cd, latitude, longitude, location, date, time) values (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [23]:
# Try to read the table to make sure it was successful
crime_table = cursor.execute("SELECT * FROM chicago_crime")

for index, row in enumerate(crime_table):
    if index < 10:
        print(row)

(102, 'JG406115', '2023-08-31 19:00:00', '042XX W MARQUETTE RD', '0498', 'BATTERY', 'AGG. DOMESTIC BATTERY - HANDS, FISTS, FEET, SERIOUS INJURY', 'APARTMENT', 'Y', 'Y', '833', '23.0', '04B', '41.771296232', '-87.729149311', '(41.771296232, -87.729149311)', '2023-08-31', '19:00:00')
(109, 'JG405111', '2023-08-31 10:52:00', '004XX W 38TH ST', '0486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', 'N', 'Y', '915', '11.0', '08B', '41.82539977', '-87.637026874', '(41.82539977, -87.637026874)', '2023-08-31', '10:52:00')
(174, 'JF254640', '2022-12-08 15:38:00', '004XX N LOWER WABASH AVE', '0110', 'HOMICIDE', 'FIRST DEGREE MURDER', 'STREET', 'Y', 'N', '1834', '42.0', '01A', '41.888993854', '-87.62693483299999', '(41.888993854, -87.626934833)', '2022-12-08', '15:38:00')
(186, 'JG412467', '2023-08-31 21:13:00', '093XX S WABASH AVE', '0910', 'MOTOR VEHICLE THEFT', 'AUTOMOBILE', 'STREET', 'N', 'N', '634', '6.0', '07', '41.724654303', '-87.622283278', '(41.724654303, -87.622283278)', '2023-08-31', '21:13:00')
(286, 'JF446619', '2022-10-24 01:42:00', '032XX W 30TH ST', '0110', 'HOMICIDE', 'FIRST DEGREE MURDER', 'STREET', 'N', 'N', '1032', '22.0', '01A', '41.839024755', '-87.706538219', '(41.839024755, -87.706538219)', '2022-10-24', '01:42:00')
(316, 'JF513150', '2022-12-17 09:14:00', '001XX N OAKLEY BLVD', '0110', 'HOMICIDE', 'FIRST DEGREE MURDER', 'PORCH', 'N', 'N', '1223', '27.0', '01A', '41.884180033', '-87.68404841899998', '(41.884180033, -87.684048419)', '2022-12-17', '09:14:00')
(385, 'JF468688', '2022-11-10 12:37:00', '037XX W CHICAGO AVE', '0110', 'HOMICIDE', 'FIRST DEGREE MURDER', 'VACANT LOT', 'Y', 'N', '1112', '27.0', '01A', '41.89542474', '-87.720278586', '(41.89542474, -87.720278586)', '2022-11-10', '12:37:00')
(445, 'JF525736', '2022-12-28 21:15:00', '015XX S HAMLIN AVE', '0486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', 'N', 'Y', '1014', '24.0', '08B', '41.860066967', '-87.720117178', '(41.860066967, -87.720117178)', '2022-12-28', '21:15:00')
(457, 'JF524903', '2022-12-28 00:00:00', '015XX S ST LOUIS AVE', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'RESIDENCE', 'N', 'N', '1021', '24.0', '14', '41.86011276', '-87.712804207', '(41.86011276, -87.712804207)', '2022-12-28', '00:00:00')
(459, 'JF525837', '2022-12-28 15:30:00', '010XX E 80TH ST', '0920', 'MOTOR VEHICLE THEFT', 'ATTEMPT - AUTOMOBILE', 'STREET', 'N', 'N', '624', '8.0', '07', '41.749514523', '-87.599940581', '(41.749514523, -87.599940581)', '2022-12-28', '15:30:00')

In [24]:
# Convert it back to pandas dataframe to confirm everything is correct
test_df = pd.read_sql("SELECT * FROM chicago_crime", con=conn)
test_df

,id,case_num,date_of_occurrence,block,iucr,primary_description,secondary_description,location_description,arrest,domestic,beat,ward,fbi_cd,latitude,longitude,location,date,time
0,102,JG406115,2023-08-31 19:00:00,042XX W MARQUETTE RD,0498,BATTERY,"AGG. DOMESTIC BATTERY - HANDS, FISTS, FEET, SE...",APARTMENT,Y,Y,833,23.0,04B,41.771296232,-87.729149311,"(41.771296232, -87.729149311)",2023-08-31,19:00:00
1,109,JG405111,2023-08-31 10:52:00,004XX W 38TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,N,Y,915,11.0,08B,41.82539977,-87.637026874,"(41.82539977, -87.637026874)",2023-08-31,10:52:00
2,174,JF254640,2022-12-08 15:38:00,004XX N LOWER WABASH AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,Y,N,1834,42.0,01A,41.888993854,-87.62693483299999,"(41.888993854, -87.626934833)",2022-12-08,15:38:00
3,186,JG412467,2023-08-31 21:13:00,093XX S WABASH AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,N,N,634,6.0,07,41.724654303,-87.622283278,"(41.724654303, -87.622283278)",2023-08-31,21:13:00
4,286,JF446619,2022-10-24 01:42:00,032XX W 30TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,N,N,1032,22.0,01A,41.839024755,-87.706538219,"(41.839024755, -87.706538219)",2022-10-24,01:42:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253046,256924,JG364916,2023-07-31 00:00:00,064XX S RHODES AVE,0497,BATTERY,AGGRAVATED DOMESTIC BATTERY - OTHER DANGEROUS ...,RESIDENCE,N,Y,312,20.0,04B,41.777700447,-87.611960085,"(41.777700447, -87.611960085)",2023-07-31,00:00:00
253047,256925,JG149582,2023-01-28 23:31:00,038XX W 59TH ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,N,N,822,23.0,11,41.785996793,-87.719195501,"(41.785996793, -87.719195501)",2023-01-28,23:31:00
253048,256926,JG305358,2023-06-18 01:05:00,012XX N STATE PKWY,0496,BATTERY,AGGRAVATED DOMESTIC BATTERY - KNIFE / CUTTING ...,APARTMENT,Y,Y,1824,2.0,04B,41.904322961999995,-87.628690783,"(41.904322962, -87.628690783)",2023-06-18,01:05:00
253049,256927,JF529073,2022-12-31 16:00:00,024XX E 79TH ST,0560,ASSAULT,SIMPLE,RESTAURANT,N,N,422,7.0,08A,41.751739567,-87.565407903,"(41.751739567, -87.565407903)",2022-12-31,16:00:00
253050,256928,JG317689,2023-06-27 05:02:00,030XX N LAKEWOOD AVE,0810,THEFT,OVER $500,STREET,N,N,1933,32.0,06,41.936452633,-87.661238666,"(41.936452633, -87.661238666)",2023-06-27,05:02:00

## Moon Phases Dataset

In [37]:
# Delete Timestamp.1 column
del moon_phases_df['Timestamp.1']
moon_phases_df['id'] = moon_phases_df.index
moon_phases_df.columns

Index(['Timestamp', 'Eclipse_Type', 'Moon_Type', 'Sun_Dist', 'Sun_Size',
       'Moon_Dist', 'Geo', 'Zenith', 'Moon_Mag', 'id'],
      dtype='object')

In [32]:
moon_phases_df

,Timestamp,Eclipse_Type,Moon_Type,Sun_Dist,Sun_Size,Moon_Dist,Geo,Zenith,Moon_Mag
0,2022-01-01 23:01:12+00:00,None,Perigee,"147,106,253 km(-1.7%)",0.542°(+1.7%),"358,033 km(-6.4%)",0.556°(+6.6%),0.566°(+6.7%),-13.14(+17.2%)
1,2022-01-02 18:33:30+00:00,None,New Moon,"147,105,420 km(-1.7%)",0.542°(+1.7%),"358,676 km(-6.3%)",0.555°(+6.4%),0.565°(+6.5%),-13.14(+16.7%)
2,2022-01-14 09:28:37+00:00,None,Apogee,"147,139,169 km(-1.7%)",0.542°(+1.7%),"405,805 km(+6.1%)",0.491°(-6.0%),0.498°(-6.1%),-12.87(-8.8%)
3,2022-01-17 23:48:35+00:00,None,Full Moon,"147,171,686 km(-1.6%)",0.542°(+1.7%),"401,023 km(+4.8%)",0.496°(-4.8%),0.504°(-4.9%),-12.89(-6.7%)
4,2022-01-30 07:10:17+00:00,None,Perigee,"147,366,481 km(-1.5%)",0.541°(+1.5%),"362,252 km(-5.3%)",0.549°(+5.3%),0.559°(+5.4%),-13.11(+14.0%)
...,...,...,...,...,...,...,...,...,...
98,2023-11-27 09:16:13+00:00,None,Full Moon,"147,622,520 km(-1.3%)",0.540°(+1.3%),"380,478 km(-0.6%)",0.523°(+0.3%),0.532°(+0.3%),-13.00(+3.0%)
99,2023-12-04 18:43:43+00:00,None,Apogee,"147,445,833 km(-1.5%)",0.541°(+1.5%),"404,347 km(+5.7%)",0.492°(-5.6%),0.500°(-5.7%),-12.87(-8.6%)
100,2023-12-12 23:31:55+00:00,None,New Moon,"147,292,020 km(-1.6%)",0.541°(+1.6%),"375,147 km(-2.0%)",0.531°(+1.7%),0.540°(+1.7%),-13.04(+6.4%)
101,2023-12-16 18:54:11+00:00,None,Perigee,"147,232,535 km(-1.6%)",0.542°(+1.6%),"367,901 km(-3.9%)",0.541°(+3.7%),0.550°(+3.8%),-13.08(+10.8%)
102,2023-12-27 00:33:08+00:00,None,Full Moon,"147,121,936 km(-1.7%)",0.542°(+1.7%),"391,764 km(+2.4%)",0.508°(-2.6%),0.516°(-2.6%),-12.95(-2.2%)

## Join the tables into one

id, case_num, date_of_occurrence, block, iucr, primary_description, secondary_description, location_description, arrest, domestic, beat, ward, fbi_cd, latitude, longitude, location, date, time

## Create 5 Visualizations